# Entorno virtual
venv/
SGDPP/

# Archivos de configuración del entorno
.env

# Archivos de bases de datos locales
instance/

# Archivos temporales
*.pyc
__pycache__/

# Archivos de configuración de IDE
.idea/
.vscode/

firebaseConfig.json
sgdd-ok-firebase-adminsdk-gcox3-fa0fd4b026.json

SGDPP/
    